/* 
    background : ECEBE4
    borders : 685C6D
    inside borders 151133
    font color DADDD8
*/

*{
    padding: 0;
    margin: 0;
    color: #DADDD8;
    -webkit-text-stroke-color: #32297A ;
    -webkit-text-stroke-width: 0.5px;
}
body{
    background-color: #151133 ;
    height: 100vh;
}

.header{
    display: flex;
    margin: 15px 15px;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #32297A;

    border-radius: 15px;
    padding: 10px 20px;
    flex :1;
    
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
        
.players.container{
    display: flex;
    width: 100%;
    border: none;
    
}
.players{
display: flex;
justify-content: space-around;

width: 60%;
padding: 12px;
flex-direction: row;

margin: 0 15px;
border-radius: 15px;

}
.player{
    display: flex;
	position: relative;
    width: 100px;
    height: 100px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
    border: #7266CC solid 3px;
    background-color: #32297A;
    align-items: center;
    justify-content: center;

    font-size: large;
    

}

.select{
    height: 100%;
    width: 100%;
    background-color: inherit;
    border: none;
    
}
.score{
   
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.challange{
    border: #7266CC solid 2px;
    background-color: #32297A;
    border-radius: 20px;
    padding: 10px 20px;
}

.challange:hover{
    background-color: #281c85;
}
